.hidden {
  display: none;
}

.App {
  text-align: center;
  border: 1px solid #ccc;
  max-width: 500px;
  margin: 10vh auto;
  padding: 0;  
}

.App_Header{
  margin: 0;
  background-color: beige;
}

.settingsButton{
  width: 150px;
  margin-top: 10px;
}


.App-header {

}

